
<h2>Doctor's Appointments  </h2>




<p> Search: <input type="text" [(ngModel)]= "searchText" name="searchText" value=""></p>

<table *ngIf = "allAppointments">
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Patient Name</th>
        <th>Complaint</th>
    </tr>

    <tr *ngFor="let appointment of allAppointments | filter:searchText">
        <td>{{appointment.scheduledDate | date: 'shortDate' }}</td>
        <td>{{appointment.scheduledDate | date: 'shortTime' }}</td>
        <td>{{appointment.patientName}}</td>
        <td>{{appointment.complaint}} <Button *ngIf= "appointment.patientID == storage.userID" (click)="cancel(appointment)">Cancel</Button></td>
       
    </tr>
</table>

<Button (click)=scheduleAppointment()>Schedule an Appointment</Button>




{{message}}

