<h1>
    Welcome, {{storage.welcomeMessage}}, {{userService.servicemessage}}
</h1>
<button (click)="logout()">Logout </button>

<p> 3 types of validations for user: HTML input, ng form, server side</p>
<p>all 4 crud operations on users</p>
<p> integrate angular routes</p>

<p>Mean wall</p>
<p> embedded doccument for one to many relationship</p>
<!--dont for get to set the message to storage.currentUser.name-->
<!--<h3 (click)="toggleStorage(); welcomeMessage = 'UserName' ">Logged in toggler</h3>-->


<app-user-login *ngIf="!storage.loggedIn"></app-user-login>
<app-friends *ngIf="storage.loggedIn" (logout)='logout()'></app-friends>