<h3> Hi {{storage.user}}!</h3>
<p>Choose and answer for each of the questions and submit the test once done.</p>
<p>Good Luck!</p>

<div *ngFor="let question of testQuestions; let i = index">
    <p>{{i + 1}} .)  {{question.ask}} </p>
    <form>
        <p><input type="radio" [(ngModel)] ="tally[i + 1]" name="q1" value="{{question.answers[0].value}}">{{question.answers[0].answer | json}}</p>
        <p><input type="radio" [(ngModel)] ="tally[i + 1]" name="q2" value="{{question.answers[1].value}}">{{question.answers[1].answer | json}} </p>
        <p><input type="radio" [(ngModel)] ="tally[i + 1]" name="q3" value="{{question.answers[2].value}}">{{question.answers[2].answer | json}}</p>

    </form>
</div>


{{tally | json}}



<a [routerLink]="['/']">Cancle</a>
<button (click)='submit()'>Submit</button>