<h3>Edit Friend details</h3>

<form action="">
    <p>First Name: <input type="text" [(ngModel)]="selectedFriend.firstName" name="firstName" value="{{selectedFriend.firstName}}"> </p>
    <p>Last Name: <input type="text" [(ngModel)]="selectedFriend.lastName" name="lastName" value="{{selectedFriend.lastName}}"> </p>
    <p>Birthdate: <input type="date" [(ngModel)]="selectedFriend.birthdate" name="birthdate" value="{{selectedFriend.birthdate | date:'y-MM-dd'}}"> </p>
    <button (click)="update_friend()" name="create">Update Friend</button>
</form>